.instagram-feed {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden
}

.instagram-feed a {
    height: 0;
    background-size: cover;
    width: 16.66666667%;
    padding-top: 16.66666667%
}

.instagram-feed a img {
    width: 100%
}

@media only screen and (min-width:968px) and (max-width:1199px) {
    .instagram-feed a {
        width: 20%;
        padding-top: 20%
    }
    .ny-insta-6 {
        display: none
    }
}

@media only screen and (min-width:768px) and (max-width:967px) {
    .instagram-feed a {
        width: 25%;
        padding-top: 25%
    }
    .ny-insta-6,
    .ny-insta-5 {
        display: none
    }
}

@media only screen and (min-width:600px) and (max-width:767px) {
    .instagram-feed a {
        width: 33%;
        padding-top: 33%
    }
    .ny-insta-6,
    .ny-insta-5,
    .ny-insta-4 {
        display: none
    }
}

@media only screen and (max-width:599px) {
    .instagram-feed a {
        width: 50%;
        padding-top: 50%
    }
    .ny-insta-6,
    .ny-insta-5,
    .ny-insta-4,
    .ny-insta-3 {
        display: none
    }
}

.miniloader {
    text-align: center;
    margin: 20px
}

.main-page-wrapper {
    max-width: 1600px;
    margin: 0 auto
}

#carousel {
    margin: 20px 5px;
    overflow: hidden;
    position: relative;
    line-height: 0;
    height: calc((100vw - 10px)/(1600/540));
    max-height: 540px
}

@media screen and (max-width:768px) {
    #carousel {
        height: calc((100vw - 10px)/(1600/540) + 40px);
        background-color: #0a0a0a
    }
}

#carousel .item {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    visibility: visible
}

#carousel .item.future {
    transform: translateX(100%);
    visibility: hidden;
    z-index: 2
}

#carousel .item.future.next {
    visibility: visible
}

#carousel .item.past {
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 1
}

#carousel .item img {
    width: 100%
}

#carousel .controls {
    position: absolute;
    text-align: center;
    bottom: 16px;
    z-index: 4;
    width: 100%
}

@media screen and (max-width:768px) {
    #carousel .controls {
        bottom: 12px
    }
}

#carousel .controls a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #000;
    margin: 0 3px;
    cursor: pointer;
    border: 5px solid #000;
    opacity: .5
}

@media screen and (max-width:768px) {
    #carousel .controls a {
        background: #fff;
        border-color: #fff
    }
}

#carousel .controls a:hover {
    background: #fff
}

#carousel .controls a.active {
    background: #fff;
    opacity: 1
}

#brands {
    margin: 0 5px;
    background: #000;
    position: relative;
    top: -5px;
    min-height: 84px;
    text-align: center;
    padding: 20px 0 4px
}

@media screen and (max-width:768px) {
    #brands {
        display: none
    }
}

#brands a {
    display: inline-block;
    margin: 0 15px 20px
}

#brands a svg {
    fill: #585858;
    -webkit-font-smoothing: antialiased;
    width: auto;
    transition: fill .3s ease
}

#brands a .font {
    padding: 10px 0;
    color: #585858;
    transition: color ease .3s
}

#brands a:hover svg {
    fill: #e2001a
}

#brands a:hover .font {
    color: #e2001a
}

#brands .icon-amisu {
    font-size: 12px
}

#brands .icon-fbs {
    font-size: 40px;
    position: relative;
    top: 6px
}

#brands .icon-censored {
    font-size: 18px
}

#brands .icon-athletics {
    font-size: 26px;
    position: relative;
    top: 4px
}


#brands .icon-fsbn {
    font-size: 18px
}


#brands .icon-tako {
    position: relative;
    top: 3px;
    transition: fill .3s ease
}

#brands .icon-tako svg {
    height: 35px
}

#brands .icon-diesel {
    position: relative;
    top: 7px;
    transition: fill .3s ease
}

#brands .icon-diesel svg {
    height: 40px
}


#brands .icon-pre {
    position: relative;
    top: 5px;
    transition: fill .3s ease
}

#brands .icon-pre svg {
    height: 40px
}

#brands .icon-smog-new {
    position: relative;
    top: -5px;
    transition: fill .3s ease
}

#brands .icon-smog-new svg {
    height: 18px
}

#brands .icon-aldi {
    position: relative;
    top: 0px;
    transition: fill .3s ease
}

#brands .icon-aldi svg {
    height: 24px
}

#brands .icon-black-squad-new {
    position: relative;
    top: 9px
}

#brands .icon-black-squad-new svg {
    height: 30px
}

#specials {
    margin: 0 5px
}

#specials .item {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 5px 0;
    line-height: 0
}

#specials .item img {
    transition: all ease .5s;
    width: 100%
}

#specials .item img.lazyload {
    display: block;
    height: 540px
}

#specials .item:hover img {
    transform: scale(1.03)
}

#tiles {
    display: flex;
    flex-wrap: wrap
}

#tiles .item {
    width: 50%;
    display: block;
    line-height: 0
}

@media screen and (min-width:768px) {
    #tiles .item {
        width: calc(100%/3)
    }
}

#tiles .item .image-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden
}

#tiles .item .image-wrapper img {
    transition: all ease .5s;
    width: 100%
}

#tiles .item .image-wrapper:hover img {
    transform: scale(1.03)
}

#instagramFeed .new-feed-title {
    margin: 38px auto 25px;
    text-align: center
}

#instagramFeed .new-feed-title a {
    text-decoration: none;
    display: inline-block
}

#instagramFeed .new-feed-title a h1 {
    font-size: 33px;
    text-transform: uppercase;
    line-height: 43px
}

#instagramFeed .new-feed-title a h1 img {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 30px;
    height: auto;
    margin-top: 0
}